.container {
   height: 100%;
   width: 100%;
}

/* Navbar */
.navbar {
	width: 100%;
	margin: auto;
	padding: 15px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
    background-color: rgba(253, 170, 170, 0.9);
}
.logo {
	width: 100px;
	cursor: pointer;
}
.navbar ul li {
	list-style:none;
	display: inline-block;
	margin: 0 15px;
}
.navbar ul li a {
	text-decoration:none;
	color:#ef476f;
	font-size: 15px;
}
.navbar ul li a:hover {
	color: white;
	text-decoration: underline;
}


body{
    margin : 0;
    padding : 0;
    font-family: 'Poppins',sans-serif;
	background: #ef476f;

 }
 .box{
   width:300px;
   padding: 40px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background:#caffbf;
   text-align: center;
 }
 .box h1{
	 color:black;
	 text-transform: uppercase;
	 font-weight:500;
	  
 }
 .box input[type="text"],.box input[type="number"]{
	 
	 border:0;
	 background:none;
	 display:block;
	 margin: 20px auto;
	 text-align:center;
	 border:2px solid #ef476f;
	 padding:14px 10px;
	 width:200px;
	 outline:white;
	 border-radius:24px;
	 transition: 0.25s;
 }
 .box input[type="text"]:focus,.box input[type="number"]:focus{
     width:280px;
	 border-color:#a2d2ff;
	 
 }
 .box input[type="submit"]{
	 border:0;
	 background:none;
	 display:block;
	 margin: 20px auto;
	 text-align:center;
	 border:2px solid #a2d2ff;
	 padding:14px 40px;
	 width:200px;
	 outline:white;
	 border-radius:24px;
	 transition: 0.25s;
	 cursor:pointer;
	 
 }
 .box input[type="submit"]:hover{
     background: #a2d2ff;
 }